---
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionWrapper from '../layouts/SectionWrapper.astro';
import ServicesOnOffer from '../components/ServicesOnOffer.astro';
import Banner from '../components/Banner.astro';
import Team from '../components/Team.astro';
import FAQ from '../components/FAQ.astro';
import '../styles/global.css';
import BannerImage from '../components/BannerImage.astro';

title: 'About Us | Dawner Creative - Crafting Digital Experiences';
---

<BaseLayout>
  <Banner
    id="about-banner"
    headerText={`About Us`}
    bodyText={`Dawner Creative stands at the forefront of bespoke web design and development,
    crafting tailored digital experiences that captivate and engage. Based on Australia's
    Sunshine Coast, our expert team commits to excellence, ensuring each client's vision
    flourishes with seamless, responsive, and secure websites.`}
    backgroundImage="/images/vector8.png"
    backgroundPosition="right"
    extraPadding={true}
  />
  <BannerImage imageSrc="/images/banner-3.jpg" />
  <SectionWrapper class="about">
    <h2>Shaping a vision, delivering a brand.</h2>
    <div class="about-text">
      <p
        >At Dawner Creative, we go beyond standard website builders like
        WordPress, Wix, and Shopify. We specialize in creating bespoke websites,
        each uniquely designed to reflect our clients' individual needs and
        vision.</p
      ><p
        >Our team is dedicated to crafting custom digital experiences, ensuring
        that your website is not just another online presence, but a standout
        reflection of your brand. With our comprehensive design and development
        services, we focus on delivering a one-of-a-kind site that captures the
        essence of your business.</p
      >
    </div>
  </SectionWrapper>
  <Team />
  <ServicesOnOffer />
  <FAQ />
</BaseLayout>

<style>
  .about {
    padding: 5rem 0 5rem 8rem;
  }
  .about h2,
  .team-container h2 {
    font-weight: 500;
  }
  .about p {
    font-family: 'Work Sans', sans-serif;
    color: rgba(88, 89, 90, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.5rem;
  }

  .about-text {
    display: flex;
    gap: 4rem;
    padding-right: 30%;
  }

  @media (max-width: 768px) {
    .about {
      padding: 3rem 2rem;
    }
    .about-text {
      flex-direction: column;
      gap: 1rem;
      padding-right: 0;
    }

    .about-text > p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    h2 {
      font-size: 2.5rem;
    }
  }
</style>
