---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactForm from '../components/ContactForm.astro';
import Calendly from '../components/Calendly.astro';
import FAQ from '../components/FAQ.astro';
import '../styles/global.css';
---

<BaseLayout>
  <div class="banner-container">
    <div class="text-container">
      <h1>Contact Us</h1>
      <p
        >We’re looking for each other. Fill in the form and we will be in touch
        shortly.<br />Alternatively, if you're ready to lock in a chat, schedule
        a 30min call via the Calendly booking below.</p
      >
    </div>
  </div>
  <ContactForm />
  <Calendly />
  <FAQ />
</BaseLayout>

<style>
  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    background-color: black;
    position: relative;
    background-image: url('../images/contact-image.png');
    background-position: right top;
    background-repeat: no-repeat;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    text-align: center;
  }
</style>
