---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageDescription from '../components/PageDescription.astro';
import ServicesOnOffer from '../components/ServicesOnOffer.astro';
import Banner from '../components/Banner.astro';
import '../styles/global.css';
---

<BaseLayout>
  <Banner
    headerText={`Website design and development`}
    bodyText={`Elevate your online presence with bespoke web solutions`}
  />
  <PageDescription
    firstText={`At Dawner Creative, we offer a comprehensive suite of website design and development 
    services to bring your digital vision to life. 
    
    `}
    secondText={`Our team is committed to delivering bespoke solutions tailored to each client's unique needs.`}
  />
  <ServicesOnOffer />
  <section>
    <div class="results-container">
      <h2>See DAWNER CREATIVE<br />results for yourself</h2>
      <div class="image-row">
        <img
          src="/images/portfolio-2.jpg"
          alt="landing page for a dance studio"
        />
        <img
          src="/images/portfolio-1.jpg"
          alt="landing page for a fasion company"
        />
        <img
          src="/images/portfolio-3.jpg"
          alt="youtube cover for a musicician"
        />
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  /* Banner Section */
  .banner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60rem;
    background-image: url('/images/v752-ning-18.jpg');
    background-position:
      left 90% bottom 30%,
      bottom right 20%;
    background-repeat: no-repeat, no-repeat;
  }

  .banner-container > h1,
  p {
    color: #3d3d40;
    width: 60%;
    padding-left: 8rem;
  }

  .banner-container > p {
    font-size: 1.75rem;
  }

  /* Results Section */
  .results-container {
    background-color: #e3dcd8;
    color: #3d3d40;
    padding: 5rem 8rem;
  }

  .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .image-row img {
    flex: 1;
    max-width: 33%;
    max-height: auto;
  }

  @media screen and (max-width: 768px) {
    .image-row img {
      width: 100%;
      flex: none;
    }
    .home-banner-image {
      width: 100%;
      max-height: auto;
    }

    .home-banner-image-2 {
      width: 100%;
      max-height: auto;
      right: 0;
    }
  }
</style>
