---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageDescription from '../components/PageDescription.astro';
import ServicesOnOffer from '../components/ServicesOnOffer.astro';
import '../styles/global.css';
---

<BaseLayout>
  <div class="banner-container">
    <div class="text-container">
      <h1>Website design & development</h1>
      <p>
        Our team are experienced in website design <br />and development. We
        craft tailored web solutions for your unique vision</p
      >
    </div>
    <img
      class="home-banner-image"
      src="/images/banner-image.png"
      alt="abstract purple image"
    />
    <img
      class="home-banner-image-2"
      src="/images/banner-image-2.png"
      alt="abstract purple image"
    />
  </div>
  <PageDescription
    blackText={`At Dawner Creative, we offer a comprehensive suite of website design
  and development services to bring your digital vision to life.`}
    greyText={`Our team is committed to delivering bespoke solutions tailored to each
  clients unique needs.`}
  />
  <ServicesOnOffer />
</BaseLayout>

<style>
  .banner-container {
    display: flex;
    background-color: black;
    position: relative;
    height: 50rem;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8rem;
    z-index: 1;
  }

  .text-container h1 {
    color: white;
    width: 50%;
    float: left;
  }
  .text-container p {
    color: white;
    width: 50%;
    float: left;
  }

  .home-banner-image {
    max-width: 59.25rem;
    max-height: 44.6875rem;
    flex-shrink: 1;
    top: 0;
    right: 0;
    position: absolute;
  }

  .home-banner-image-2 {
    max-width: 27.75rem;
    max-height: 14.4375rem;
    flex-shrink: 1;
    bottom: 0;
    right: 6.5rem;
    position: absolute;
  }
</style>
