---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---

<BaseLayout>
  <div class="banner-container">
    <div class="text-container">
      <h1>Website design & development</h1>
      <p>
        Based on the Sunshine Coast, our team are experienced in website design
        and development. We craft tailored web solutions for your unique vision</p
      >
    </div>
    <img
      class="home-banner-image"
      src="/images/banner-image.png"
      alt="abstract purple image"
    />
    <!-- <img
      class="home-banner-image-2"
      src="/images/banner-image-2.png"
      alt="abstract purple image"
    /> -->
  </div>
  <section class="page-description">
    <p
      ><span class="black-text"
        >At Dawner Creative, we offer a comprehensive suite of website design
        and development services to bring your digital vision to life.</span
      ><span class="grey-text">
        Our team is committed to delivering bespoke solutions tailored to each
        clients unique needs.</span
      >
    </p>
  </section>
  <!-- <section>
    <h2>Services we offer</h2>
    <h4>Wesbite Design:</h4>
    <p
      >We craft visually stunning and user-friendly websites. Our design
      approach focuses on creating a seamless user experience that aligns with
      your brand identity and engages your audience.
    </p>
    <h4>Website Development:</h4>
    <p
      >Beyond aesthetics, we build robust, high-functioning websites. Our
      developer utilises the latest technologies to ensure your website is fast,
      secure and scalable.
    </p>
    <h4>E-Commerce Solutions:</h4>
    <p
      >We develop e-commerce platforms that are not only visually appealing but
      also intuitive, secure and optimised for sales conversions.
    </p>
    <h4>Responsive Web Design:</h4>
    <p
      >With a mobile-first approach, we ensure your website looks great and
      functions flawlessly across all devices, from desktop to mobile.
    </p>
  </section>
  <section>
    <h3>See DAWNER CREATIVE results for yourself</h3>
  </section> -->
</BaseLayout>

<style>
  .banner-container {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding-left: 10rem;
    height: 50rem;
    align-items: center;
  }
  h1 {
    /* flex: 2; */
    color: white;
  }
  p {
    /* flex: 2; */
    line-height: 2;
    font-size: 2rem;
    color: white;
  }
  .home-banner-image {
    height: 50rem;
    top: 0;
    z-index: 1;
  }
  .page-description {
    height: 100vh;
    border-bottom: 1px solid #58595a;
  }

  .page-description p {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 5rem;
    margin-right: 10rem;
  }

  .black-text {
    color: black;
  }
  .grey-text {
    color: #58595a;
  }

  section {
    padding-left: 10rem;
    padding-right: 10rem;
  }
</style>
