---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageDescription from '../components/PageDescription.astro';
import ServicesOnOffer from '../components/ServicesOnOffer.astro';
import '../styles/global.css';
---

<BaseLayout>
  <div class="banner-container">
    <div class="text-container">
      <h1>Website design & development</h1>
      <p>
        Our team are experienced in website design <br />and development. We
        craft tailored web solutions for your unique vision</p
      >
    </div>
    <img
      class="home-banner-image"
      src="/images/index-banner.png"
      alt="abstract purple image"
    />
    <img
      class="home-banner-image-2"
      src="/images/index-banner-2.png"
      alt="abstract purple image"
    />
  </div>
  <PageDescription
    blackText={`At Dawner Creative, we go beyond standard website builders and specialize in creating bespoke websites,
     each uniquely designed to reflect our clients' individual needs and vision.
    `}
    greyText={`Our team is dedicated to crafting custom digital experiences, ensuring that your website is not just 
    another online presence, but a standout reflection of your brand.`}
  />
  <ServicesOnOffer />
  <section>
    <div class="results-container">
      <h2>See DAWNER CREATIVE<br />results for yourself</h2>
      <div class="image-row">
        <img
          src="/images/portfolio-2.jpg"
          alt="landing page for a dance studio"
        />
        <img
          src="/images/portfolio-1.jpg"
          alt="landing page for a fasion company"
        />
        <img
          src="/images/portfolio-3.jpg"
          alt="youtube cover for a musicician"
        />
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  /* Banner Section */
  .banner-container {
    display: flex;
    background-color: black;
    position: relative;
    height: 50rem;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8rem;
    z-index: 1;
  }

  .text-container h1 {
    color: white;
    width: 60%;
    float: left;
  }
  .text-container p {
    color: white;
    width: 60%;
    float: left;
  }

  .home-banner-image {
    width: 59.25rem;
    max-width: 100%;
    max-height: 44.6875rem;
    flex-shrink: 1;
    top: 0;
    right: 0;
    position: absolute;
  }

  .home-banner-image-2 {
    width: 27.75rem;
    max-height: 14.4375rem;
    max-width: 100%;
    flex-shrink: 1;
    bottom: 0;
    right: 6.5rem;
    position: absolute;
  }

  /* Results Section */
  .results-container {
    background-color: black;
    color: white;
    padding: 5rem 8rem;
  }

  .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .image-row img {
    flex: 1;
    max-width: 33%;
    max-height: auto;
  }

  @media screen and (max-width: 768px) {
    .image-row img {
      width: 100%;
      flex: none;
    }
    .home-banner-image {
      width: 100%;
      max-height: auto;
    }

    .home-banner-image-2 {
      width: 100%;
      max-height: auto;
      right: 0;
    }
  }
</style>
