---
export interface BannerProps {
  headerText: string;
  bodyText: string;
  backgroundImage: string;
}
const { headerText, bodyText, backgroundImage } = Astro.props as BannerProps;
---

<div
  class="banner-container"
  style={{ backgroundImage: `url(${backgroundImage})` }}
>
  <h1 class="headerText">{headerText}</h1>
  <p class="bodyText">{bodyText}</p>
</div>

<style>
  /* Banner Section */
  .banner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50rem;
    background-image: url('/images/v752-ning-18.jpg');
    background-size: cover;
    background-position: fixed;
  }

  .banner-container > h1 {
    color: #3d3d40;
    width: 50%;
    padding-left: 8rem;
  }

  .banner-container > p {
    font-size: 1.75rem;
    width: 60%;
    color: #3d3d40;
    padding-left: 8rem;
  }
</style>
