---
import SectionWrapper from '../layouts/SectionWrapper.astro';

export interface BannerProps {
  headerText: string;
  bodyText: string;
  backgroundImage: string;
  extraPadding?: boolean;
}
const { headerText, bodyText, backgroundImage, extraPadding } =
  Astro.props as BannerProps;
---

<SectionWrapper
  class:list={[
    'banner-container',
    { 'extra-padding': extraPadding },
    { backgroundImage: `url(${backgroundImage})` },
  ]}
>
  <h1 class="header-text">{headerText}</h1>
  <p class="body-text">{bodyText}</p>
</SectionWrapper>

<style>
  /* Banner Section */
  .banner-container {
    display: flex;
    flex-direction: column;
    height: 30rem;
  }

  .body-text {
    font-size: 1.5rem;
  }

  .header-text {
    color: #775854;
  }

  .extra-padding h1,
  .extra-padding p {
    padding: 0 8rem; /* Adjust as needed */
  }

  @media screen and (max-width: 768px) {
    .banner-container {
      height: 30rem;
    }

    .banner-container h1,
    p {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
</style>
