---

---

<div class="form-container">
  <form
    action="https://formsubmit.co/hello@dawnercreative.com"
    method="POST"
  >
    <input
      type="hidden"
      name="_captcha"
      value="false"
    />
    <input
      type="hidden"
      name="_next"
      value="http://localhost:4321/thankyou"
    />
    <input
      type="text"
      id="name"
      name="name"
      placeholder="FULL NAME*"
    /><br />

    <input
      type="tel"
      id="phone"
      name="phone"
      placeholder="PHONE*"
    /><br />

    <input
      type="email"
      id="email"
      name="email"
      placeholder="EMAIL ADDRESS*"
    /><br />

    <textarea
      id="message"
      name="message"
      placeholder="Message*"
    ></textarea><br />

    <input
      class="form-button"
      type="submit"
      value="SEND REQUEST"
    />
  </form>
</div>

<style>
  .form-container {
    display: flex;
    justify-content: center;
    padding: 2rem 8rem;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
  }

  input {
    border-radius: 2rem;
    height: 4rem;
    width: 50rem;
    margin-bottom: 0.5rem;
  }

  textarea {
    border-radius: 1rem;
    width: 100%;
    height: 10rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  input,
  textarea {
    box-shadow: 1px 2px 2px 2px lightgray;
    padding-left: 2rem;
    background-color: inherit;
    border: 1.5px solid #775854;
  }

  .form-button {
    border: 1px solid #775854;
    font-size: 1rem;
    border-radius: 2rem;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  .form-button:hover {
    background-color: #c4cdcd;
    border: 2px solid #b3b3b4;
    cursor: pointer;
  }

  .form-button:active {
    color: white;
    background-color: #7e898a;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .form-container {
      padding: 3rem 2rem;
    }

    form {
      max-width: 100%;
    }

    .form-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2rem;
    }
    form input {
      max-width: 100%;
      height: 3rem;
      padding-left: 1rem;
    }

    form > textarea {
      padding-left: 1rem;
    }
  }
</style>
