---
let faqs = [
  {
    question: 'What services do you offer?',
    answer:
      'Our company specializes in comprehensive website design and development services, encompassing everything from initial design or redesign to SEO optimization and ensuring responsive, device-friendly, and accessible web solutions. We pride ourselves on crafting fully custom websites without relying on standard website builders such as Wix, Squarespace, WordPress, or Shopify. This approach affords our clients complete control over their websites, eliminating the need for monthly subscription fees, aside from domain name registration, hosting, and any applicable additional charges.',
  },
  {
    question: 'How does the process work?',
    answer:
      'Our process begins with an initial consultation to understand your business, brand, and specific website requirements, ensuring we are a good match for your project. Following this, we conduct a detailed questionnaire to delve into your vision for the site, including desired pages, features, and functionalities. Based on your inputs, we embark on the design phase, which typically spans 1-2 weeks, to craft a preliminary design concept. Upon your approval of the design, we proceed with the development phase, which can range from 2-6 weeks depending on the project complexity. After development, we manage hosting and security setup to launch your website smoothly. Post-launch, we remain available for any maintenance or updates you may need.',
  },
  {
    question: 'What is your pricing structure?',
    answer:
      'Our pricing is tailored to the specific needs and scale of your project. We offer a variety of design and development packages, accommodating everything from a simple single-page website to a more complex site with up to eight pages. For those who prefer to explore the design possibilities before fully committing to the development phase, we provide flexible options. An accurate quote will be provided once we have a thorough understanding of your objectives and requirements.',
  },
  {
    question: 'How long does a website take to create?',
    answer:
      'The duration for creating a website varies based on its complexity and specific requirements. Generally, the process can take anywhere from 2 to 8 weeks, depending on the scale and intricacies involved in the project.',
  },
  {
    question: 'Can you provide hosting or domain services?',
    answer:
      'Yes, we offer comprehensive support for all your website development needs, including domain registration and website hosting. We collaborate with a selection of trusted providers to ensure you receive the best service. While we facilitate these services, you will retain full control over your domain and hosting arrangements, with payments made directly to the service providers.',
  },
];
---

<div class="faq">
  <h2>Frequently<br />asked questions</h2>
  <div class="accordion">
    {
      faqs.map((faq) => (
        <div class="accordion-item">
          <button class="accordion-toggle">{faq.question}</button>
          <div class="accordion-content">
            <p>{faq.answer}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggles = document.querySelectorAll('.accordion-toggle');

    toggles.forEach(function (toggle) {
      toggle.addEventListener('click', function () {
        this.classList.toggle('active');

        const content = this.nextElementSibling;
        if (content.style.display === 'block') {
          content.style.display = 'none';
        } else {
          content.style.display = 'block';
        }
      });
    });
  });
</script>

<style>
  .faq {
    padding: 2rem 8rem 8rem 8rem;
  }
  .faq > h2 {
    text-align: center;
  }
  .accordion {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .accordion-item {
    border-bottom: 1px solid darkgrey;
    margin: 0.5rem 0;
  }

  .accordion-toggle {
    padding: 0.6rem;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--primary-font);
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .accordion-toggle:after {
    content: '+';
    float: right;
  }

  .accordion-toggle.active:after {
    content: '-';
  }

  .accordion-content {
    padding: 0 1rem;
    display: none;
    overflow: hidden;
    font-size: 1rem;
    font-family: var(--primary-font);
    line-height: 1.5;
  }

  .accordion-content > p {
    font-size: 1.25rem;
  }

  @media (max-width: 768px) {
    .faq {
      padding: 3rem 0rem;
    }

    .faq > h2 {
      font-size: 2.5rem;
      text-align: center;
      padding-left: 0;
    }
    .accordion {
      max-width: 80%;
    }

    .accordion-content > p {
      padding: 0;
      font-size: 0.75rem;
    }

    .accordion-toggle {
      font-size: 1rem;
    }
  }
</style>
