---

---

<footer>
  <div>
    <h2>Work with us</h2>
    <p
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ab quod
      error adipisci qui est laborum dolorem illum</p
    >
    <a href="/contact">Contact us</a>
  </div>
  <div>
    <h4>Pages</h4>
    <nav>
      <a
        href="/about/"
        aria-label="About us"
        >About</a
      >
      <a
        href="/services/"
        aria-label="Our services"
        >Services</a
      >
      <a
        href="/projects/"
        aria-label="Our projects"
        >Projects</a
      >
      <a
        href="/licensees/"
        aria-label="Licensees information"
        >Licensees</a
      >
      <a
        href="/terms/"
        aria-label="Terms of Services"
        >Terms of Services</a
      >
      <a
        href="/privacy/"
        aria-label="Privacy policy"
        >Privacy policy</a
      >
      <a
        href="https://www.facebook.com/"
        target="_blank"
        aria-label="Visit our Facebook page"
        >Facebook</a
      >
      <a
        href="https://www.instagram.com/"
        target="_blank"
        aria-label="Visit our Instagram profile"
        >Instagram</a
      >
    </nav>
    <div>
      <h4>Contact</h4>
      <p>+61 422 023 586</p>
      <p>Sunshine Coast, QLD, Australia</p>
      <p
        ><a href="mailto:hello@dawnercreative.com">hello@dawnercreative.com</a
        ></p
      >
    </div>
  </div>
</footer>
