---

---

<div class="footer-nav">
  <h4>Pages</h4>
  <nav>
    <a
      href="/about/"
      aria-label="About us"
      >About</a
    >
    <a
      href="/services/"
      aria-label="Our services"
      >Services</a
    >
    <a
      href="/projects/"
      aria-label="Our projects"
      >Projects</a
    >
    <a
      href="/licensees/"
      aria-label="Licensees information"
      >Licensees</a
    >
    <a
      href="/terms/"
      aria-label="Terms of Services"
      >Terms of Services</a
    >
    <a
      href="/privacy/"
      aria-label="Privacy policy"
      >Privacy policy</a
    >
    <a
      href="https://www.facebook.com/"
      target="_blank"
      aria-label="Visit our Facebook page"
      >Facebook</a
    >
    <a
      href="https://www.instagram.com/"
      target="_blank"
      aria-label="Visit our Instagram profile"
      >Instagram</a
    >
  </nav></div
>
