---
import Navigation from './Navigation.astro';
import '../styles/global.css';
---

<header>
  <!-- <img class="logo"
      src="images/543-reverse.svg"
      alt="Dawner Creative Logo"
    /> -->
  <nav>
    <Navigation />
  </nav>
</header>
