---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import '../styles/global.css';
---

<header>
  <img
    class="logo"
    height="100px"
    width="100px"
    src="images/dawnerlogo.png"
    alt="Dawner Creative Logo"
  />
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header {
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .logo {
    margin-left: 2rem;
    margin-right: auto;
    height: max-content;
  }
</style>
