---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import '../styles/global.css';
---

<header>
  <!-- <img
    class="logo"
    height="50px"
    width="50px"
    src="images/543-reverse.svg"
    alt="Dawner Creative Logo"
  /> -->
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
</style>
