---
import ContactButton from './ContactButton.astro';
---

<div class="top-nav-links">
  <a href="/about/">About</a>
  <a href="/services/">Services</a>
  <a href="/projects/">Projects</a>
  <div class="nav-contact-button">
    <ContactButton />
  </div>
</div>

<style>
  .top-nav-links {
    display: flex;
    align-items: center;
    line-height: none;
    padding-right: 5rem;
  }

  .top-nav-links a {
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-right: 4rem;
  }

  @media screen and (max-width: 768px) {
    .top-nav-links {
      display: none;
      width: 100%;
      /* margin-left: 4rem;
    padding-right: 5rem; */
    }

    .top-nav-links a {
      text-decoration: none;
      padding-left: 3.5rem;
    }

    .top-nav-links.expanded {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: black;
      border-radius: 0.5rem;
      padding: 2rem;
      height: 20rem;
      align-items: flex-end;
      justify-content: center;
      margin-top: 15rem;
    }

    .top-nav-links.expanded a {
      padding-bottom: 0.5rem;
      border-bottom: 0.5px solid white;
    }

    .expanded {
      display: flex;
    }
  }
</style>
