---
export interface PageDescriptionProps {
  blackText: string;
  greyText: string;
}
const { blackText, greyText } = Astro.props as PageDescriptionProps;
---

<section class="page-description">
  <p>
    <span class="black-text">{blackText}</span>
    <span class="grey-text">{greyText}</span>
  </p>
  <hr />
</section>

<style>
  .page-description p {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    width: 90%;
    float: left;
  }

  .page-description {
    padding: 5rem 8rem;
  }

  .black-text {
    color: black;
  }
  .grey-text {
    color: #58595a;
  }
</style>
