---
export interface PageDescriptionProps {
  firstText: string;
  secondText: string;
}
const { firstText, secondText } = Astro.props as PageDescriptionProps;
---

<section class="page-description">
  <p>
    <span class="first-text">{firstText}</span>
    <span class="second-text">{secondText}</span>
  </p>
  <hr />
</section>

<style>
  .page-description p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 175%;
    width: 90%;
    float: left;
  }

  .page-description {
    padding: 2rem 8rem;
  }

  .first-text {
    color: #3d3d40;
  }
  .second-text {
    color: #58595a;
  }

  @media (max-width: 768px) {
    .page-description p {
      font-size: 1rem;
    }
    .page-description {
      padding: 2rem;
    }
  }
</style>
