---
import SectionWrapper from '../layouts/SectionWrapper.astro';
---

<SectionWrapper class="services-on-offer">
  <div class="services-title-left">
    <h3>SERVICES WE OFFER</h3>
  </div>
  <div class="services-right">
    <div class="service">
      <img
        src="./images/icon-1.svg"
        alt="abstract icon 1"
      />
      <h4>Website Design:</h4>
      <p
        >We craft visually stunning and user-friendly websites. Our design
        approach focuses on creating a seamless user experience that aligns with
        your brand identity and engages your audience.
      </p>
    </div>
    <div class="service">
      <img
        src="./images/icon-2.svg"
        alt="abstract icon 2"
      />
      <h4>Website Development:</h4>
      <p
        >Beyond aesthetics, we build robust, high-functioning websites. Our
        developer utilises the latest technologies to ensure your website is
        fast, secure and scalable.
      </p>
    </div>
    <div class="service">
      <img
        src="./images/icon-3.svg"
        alt="abstract icon 3"
      />
      <h4>E-Commerce Solutions:</h4>
      <p
        >We develop e-commerce platforms that are not only visually appealing
        but also intuitive, secure and optimised for sales conversions.
      </p>
    </div>
    <div class="service">
      <img
        src="./images/icon-4.svg"
        alt="abstract icon 4"
      />
      <h4>Responsive Web Design:</h4>
      <p
        >With a mobile-first approach, we ensure your website looks great and
        functions flawlessly across all devices, from desktop to mobile.
      </p>
    </div>
  </div>
</SectionWrapper>

<style>
  .services-on-offer {
    background-image: url('/images/vector6.png'), url('/images/vector4.png');
    background-repeat: no-repeat, no-repeat;
    background-position:
      left bottom,
      right top;
  }
  h4 {
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: bold;
  }

  .service p {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.35rem;
  }

  .services-on-offer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem;
  }

  .services-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 5rem;
  }

  @media screen and (max-width: 768px) {
    .services-on-offer {
      padding: 2rem 2rem;
      background-image: url('/images/vector6.png');
      background-size: 50%;
      background-position: top left;
    }

    .services-title-left {
      width: 100%;
      text-align: center;
    }

    .services-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h4 {
      font-size: 1.5rem;
    }
  }
</style>
