---

---

<section>
  <div class="team-container">
    <h2>The Team</h2>
    <div class="image-row">
      <div class="team-member">
        <img
          src="/images/team-1.png"
          alt="team member one"
        />
        <p><strong>Madeliene Stiller</strong><br />Director & Developer</p>
      </div>
      <div class="team-member">
        <img
          src="/images/team-2.png"
          alt="team member two"
        />
        <p><strong>Benjamin Joyce</strong><br />Developer</p>
      </div>
      <div class="team-member">
        <img
          src="/images/team-3.png"
          alt="team member three"
        />
        <p><strong>Jon Armstront</strong><br />CEO at Dawner Creative</p>
      </div>
    </div>
  </div>
</section>

<style>
  .team-container {
    background-color: white;
    padding: 5rem 8rem;
  }

  .image-row {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
  }

  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .team-member > p {
    font-family: 'Work Sans', sans-serif;
    color: rgba(88, 89, 90, 1);
    font-size: 1.25rem;
    font-weight: 500;
  }
</style>
