---
import SectionWrapper from '../layouts/SectionWrapper.astro';
---

<SectionWrapper>
  <div class="team-container">
    <h2>Who are we?</h2>
    <div class="image-row">
      <div class="team-member">
        <img
          src="/images/maddy.jpg"
          alt="team member one"
        />
        <p
          ><strong>Madeliene Stiller</strong><br />Madeliene is the founder and
          designer and developer at Dawner Creative, overseeing all aspects of
          the process from the initial consultation to website launch and
          beyond. She maintains a hands-on approach, ensuring direct
          communication and personalized guidance for clients throughout the
          entire project lifecycle.</p
        >
      </div>
      <div class="team-member">
        <img
          src="/images/ben.jpg"
          alt="team member two"
        />
        <p
          ><strong>Benjamin Joyce</strong><br />Ben is a software engineer with
          a distinguished career, including roles at one of Australia's most
          successful tech companies, as well as prior experience in a government
          agency and start up.</p
        >
      </div>
    </div>
  </div>
</SectionWrapper>

<style>
  .team-container {
    padding: 2rem 8rem;
    background-image: url('/images/vector10.png'), url('/images/vector8.png');
    background-position:
      left,
      right top;
    background-repeat: no-repeat, no-repeat;
  }

  .team-container > h2 {
    text-align: center;
  }

  .image-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .team-member {
    display: flex;
    flex: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .team-member > * {
    flex: 1 1 0;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 1rem 2rem;
  }

  .team-member > img {
    max-width: 380px;
    max-height: 468px;
    min-width: 380px;
    min-height: 468px;
  }

  .team-member > p {
    font-family: 'Work Sans', sans-serif;
    color: rgba(88, 89, 90, 1);
    font-size: 1rem;
    font-weight: 500;
    min-width: 18rem;
  }

  @media (max-width: 768px) {
    .team-container {
      padding: 3rem 2rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    .team-member > img {
      max-width: 160px;
      max-height: 234px;
      min-width: 160px;
      min-height: 234px;
    }
  }
</style>
