---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="images/dawnercreativelogo.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content="Dawner Creative is a Sunshine Coast-based web development agency providing high quality and innovative solutions."
    />
    <meta
      name="keywords"
      content="Web Development Sunshine Coast, Web Design Sunshine Coast, SEO Sunshine Coast, Digital Marketing Sunshine Coast"
    />
    <meta
      name="author"
      content="Dawner Creative"
    />
    <meta
      property="og:title"
      content="Dawner Creative"
    />
    <meta
      property="og:description"
      content="Dawner Creative is a Sunshine Coast-based web development agency providing high quality and innovative solutions."
    />
    <meta
      property="og:image"
      content="./images/transparent-logo.png"
    />
    <meta
      property="og:url"
      content="https://www.dawnercreative.com"
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:locale"
      content="en_AU"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.dawnercreative.com",
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "+61-422-023-586",
            "contactType": "customer service",
            "email": "hello@dawnercreative.com"
          }
        ],
        "sameAs": [
          "https://www.facebook.com/profile.php?id=61555841081021",
          "https://www.instagram.com/dawnercreative/"
        ],
        "description": "Dawner Creative is a Sunshine Coast-based web development agency providing high quality and innovative solutions."
      }
    </script>
  </head>
  <link
    rel="preconnect"
    href="https://fonts.googleapis.com"
  />
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Open+Sans:wght@300&family=Victor+Mono:wght@300&family=Work+Sans:wght@300;600&display=swap"
    rel="stylesheet"
  />
  <link
    rel="preconnect"
    href="https://fonts.googleapis.com"
  />
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
    rel="stylesheet"
  />
  <title>Dawner Creative</title>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
